/* Animation */
h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* small screens */
@media (max-width: 600px) {
  .small-screen {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 601px) {
  .medium-screen {
    padding-left: 10%;
    padding-right: 10%;
  }
}
